/node_modules
/public/hot
/public/imagens/*
/public/storage
/storage/*.key
/vendor
/volume
.env
.env.backup
.phpunit.result.cache
*.dockerfile
docker-compose.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
